<a href="https://colab.research.google.com/github/OMGitsPowers/Code-Portfolio/blob/main/SoxAuditSpitOut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import openpyxl

s = input("What line does the data start on? ")
start = int(s) - 1

print(type(start))

sam = input("How many samples are there to parse? ")
samp = int(sam)

print(type(samp))

audit = pd.read_excel('/content/Q4 Revenue Selections - Pricing JLC.xlsx', header = start)
wb = openpyxl.load_workbook('/content/Q4 Revenue Selections - Pricing JLC.xlsx')

print(audit)

head = ['Samples',	'Period',	'RPT_DT',	'SITE',	'DT_RANGE',	'CO',	'DIV',	'FRANCH',	'MINOR',	'AR_CODE',
        'SVC_CD',	'SVC_CD_DESCR',	'CUST_ACCT',	'WO_NUM',	'CHRG_CODE',	'BILL_PR_CNT',	'BILL_AD_CNT',
        'BILL_PR_AMT',	'BILL_AD_AMT',	'BILL_FROM_DT',	'BILL_TO_DT',	'CUR_CHARGES_AMT',
        'DEF_1_MONTH_AMT',	'DEF_2_MONTH_AMT',	'INT_PPV_AMT',	'Resource']

#Creates workbook for the accounts and adds rows of data
for value in range(samp):
  acct = str(audit.iloc[value, 0]) + ' - ' + str(audit.iloc[value, 12])
  ws2 = wb.create_sheet(title=acct)
  #head1 is not used...Not working as intended..pissing me off
  head1 = list(audit.loc[start].copy())
  ws2.append(head)
  row_2 = list(audit.loc[value].copy())
  ws2.append(row_2)


wb.save('Q4 Revenue Selections - Pricing JLC_BrokeDown.xlsx')

What line does the data start on? 18
<class 'int'>
How many samples are there to parse? 62
<class 'int'>
    Samples    Period    RPT_DT  SITE              DT_RANGE  CO  DIV  FRANCH  \
0         1   October  11/01/23     1  10/01/23 to 10/31/23   1   28     903
1         2   October  11/01/23     1  10/01/23 to 10/31/23   3   65     573
2         3   October  11/01/23     1  10/01/23 to 10/31/23   4   57     721
3         4   October  11/01/23     1  10/01/23 to 10/31/23   4   59     907
4         5   October  11/01/23     1  10/01/23 to 10/31/23   4   59     907
..      ...       ...       ...   ...                   ...  ..  ...     ...
57       58  December   1/01/24     1  12/01/23 to 12/31/23   1   27     722
58       59  December   1/01/24     1  12/01/23 to 12/31/23   1   27     703
59       60  December   1/01/24     1  12/01/23 to 12/31/23   1   27     717
60       61  December   1/01/24     1  12/01/23 to 12/31/23   1   27     704
61       62  December   1/01/24     1  12/01/23 to 12/31/23   1   27     728

    MINOR  AR_CODE  ...  BILL_AD_CNT BILL_PR_AMT  BILL_AD_AMT  BILL_FROM_DT  \
0   14187        1  ...            0        1.00         0.00      10/02/23
1   14027        1  ...            0       86.44         0.00      10/01/23
2   54033        1  ...            0       69.99         0.00      10/24/23
3   14029        1  ...            0       65.99         0.00      10/10/23
4   14083        1  ...            0       26.00         0.00      10/06/23
..    ...      ...  ...          ...         ...          ...           ...
57  14152        1  ...            0       19.79         0.00      12/22/23
58  54089        1  ...            1        0.00      1066.67      12/30/23
59  14029        1  ...            1        0.00       106.44      12/27/23
60  54033        1  ...            1        0.00        79.99      12/06/23
61  14160        1  ...            1        0.00        10.00      12/03/23

   BILL_TO_DT  CUR_CHARGES_AMT  DEF_1_MONTH_AMT  DEF_2_MONTH_AMT  INT_PPV_AMT  \
0    11/01/23             0.97             0.03                0            0
1    10/31/23            86.44             0.00                0            0
2    11/23/23            16.33            53.66                0            0
3    11/09/23            46.19            19.80                0            0
4    11/05/23            21.67             4.33                0            0
..        ...              ...              ...              ...          ...
57    1/21/24             5.94            13.85                0            0
58    1/29/24            35.56          1031.11                0            0
59    1/26/24            14.19            92.25                0            0
60    1/05/24            66.66            13.33                0            0
61    1/02/24             9.33             0.67                0            0

   Resource
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
57      NaN
58      NaN
59      NaN
60      NaN
61      NaN

[62 rows x 26 columns]